<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		<header>
			{% for category in gcategories.getAll %}
				<h3>
					{{category.name}}
				</h3>
			{% endfor %}
			<form action="{{ path('front_search') }}" method="get">
				<input type="text" name="term" id="">
				<input type="submit" value="Rechercher">
			</form>
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

		<footer>
			<h2>Au revoir</h2>
		</footer>

	</body>
</html>
